<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label> Weight
      </ion-label>
      <ion-input type="number" name="weight" [(ngModel)]= "weight"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label> Gender
    </ion-label>
    <ion-select [(ngModel)]="gender">
    <ion-select-option *ngFor="let value of genders"> {{value}} 
    </ion-select-option> 
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label> Time </ion-label>
    <ion-select [(ngModel)]="time">
    <ion-select-option *ngFor="let value of times"> {{value}} 
    </ion-select-option> 
    </ion-select>
  </ion-item>
    

  <ion-item>
    <ion-label> Bottles </ion-label>
    <ion-select [(ngModel)]="bottle">
    <ion-select-option *ngFor="let value of bottles"> {{value}} 
    </ion-select-option> 
    </ion-select>
  </ion-item>
  <ion-item>
  <ion-label>Promiles</ion-label>
    <ion-input name="promiles" value="{{promiles | number : '1.2-2'}}" readonly></ion-input>
</ion-item>
  </ion-list>

  <div id="container">
    <ion-button expand ="black" type="submit" class="ion-no-margin" (click)="calculate()">Calculate</ion-button>
  
  </div>
</ion-content>
